/* Don't do `@import "tailwindcss"`, do this instead: */
@layer theme, base, components, utilities;

@import 'tailwindcss/theme' layer(theme) theme(static);
@import 'tailwindcss/preflight' layer(base);
@import 'tailwindcss/utilities' layer(utilities);

@plugin '@tailwindcss/typography';

/* Then import "@nuxt/ui": */
@import '@nuxt/ui';

:root {
  --ui-bg: #18181b;
  --ui-primary: #287cff;
  --ui-border: #ffffff55;
}

body {
  overflow-y: hidden;
}